/* You can add global styles to this file, and also import other style files */
body {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  min-height: 100vh;
  font-family: "Roboto";
  color: #ffffff;
}
.header {
  display: flex;
  align-content: center;
  align-items: center;
  position: relative;
  width: calc(60%);
  height: 35px;
  padding: 0 20px;
  background: linear-gradient(180deg, #000F2E, #091229);
}
.header .title {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  margin-right: 20px;
}
.header .action {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 10px;
  cursor: pointer;
}
.header .action i {
  font-size: 20px;
}
.header .action:hover {
  background: rgba(255, 255, 255, 0.1);
}
.header .action .title {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  margin-left: 4px;
  color: #FFFFFF;
  opacity: 0.5;
  text-transform: capitalize;
}
.center-flex {
  display: flex;
  align-content: center;
  align-items: center;
}
.panelBg {
  background: linear-gradient(180deg, #2F303B, #141414);
}
.windowBg {
  background: #18181b;
}
:host {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}
.header .close {
  position: absolute;
  right: 0;
  top: 0;
}
.container {
  width: 80%;
  height: 60%;
  border: 1px solid #000000;
  background: #18181b;
}
.container .side {
  width: 100%;
  height: calc(60%);
  display: flex;
}
.container .side .left {
  height: 50%;
  width: 300px;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.075);
  flex-shrink: 0;
}
.container .side .left .patches {
  display: flex;
  flex-direction: column;
}
.container .side .left .patches .item {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 0 8px;
  width: calc(84%);
  height: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  color: #b3b3b3;
  background: rgba(255, 255, 255, 0.01);
  user-select: none;
  cursor: pointer;
  position: relative;
  transition: padding 100ms;
}
.container .side .left .patches .item:nth-child(2n) {
  background: rgba(255, 255, 255, 0.041);
}
.container .side .left .patches .item:hover {
  background: rgba(255, 255, 255, 0.1);
}
.container .side .left .patches .item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 0px;
  height: 100%;
  background-color: #767fff;
  transition: width 100ms;
}
.container .side .left .patches .item.selected {
  background: rgba(138, 146, 255, 0.1);
  padding-left: 12px;
  width: calc(80%);
}
.container .side .left .patches .item.selected::before {
  width: 2px;
}
.container .side .left .settings {
  height: 50%;
}
.container .side .right {
  width: 100%;
  height: 100%;
  font-size: 10px;
  position: relative;
}
.container .side .right .placedFixtures .patchRef {
  background: rgba(100, 69, 29, 0.8);
  z-index: 10;
  cursor: pointer;
}
.container .side .right .placedFixtures .patchRef .address {
  opacity: 0.7;
}
.container .side .right .placedFixtures .patchRef .address.end {
  float: right;
}
.container .side .right .patchRefPlace {
  position: absolute;
  height: calc(6.25%);
  width: calc(3.125%);
  z-index: 10;
}
.container .side .right .patchRef {
  position: absolute;
  height: calc(6.25%);
  z-index: 0;
  background: rgba(255, 145, 0, 0.171);
}
.container .side .right .patchRef.invalid {
  background: rgba(255, 0, 0, 0.171);
  border: 2px solid #aa2323;
}
.container .side .right table {
  width: 100%;
  height: 100%;
  border-spacing: 0;
  position: relative;
}
.container .side .right tr {
  width: 100%;
  height: 6.25%;
  display: block;
}
.container .side .right tr td {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 3.125%;
  color: rgba(255, 255, 255, 0.534);
  user-select: none;
  text-align: center;
  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
input {
  background: linear-gradient(180deg, #00091a, #040813);
  border: 0;
  height: 20px;
  outline: none;
  color: #ffffff9c;
  font-weight: 700;
  padding: 4px 16px;
}
