@import "./../../styles.less";


:host{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.3)
}

.header .close{
    position: absolute;
    right: 0;
    top: 0;
}

.container{
    width: 80%;
    height: 60%;
    border: 1px solid #000000;
    .windowBg;

    .side{
        width: 100%;
        height: calc(100% - 40px);
        display: flex;

        .left{
            height: 50%;
            width: 300px;
            border-right: 1px solid rgba(0, 0, 0, 0.4);
            border-bottom: 1px solid rgba(255, 255, 255, 0.075);
            flex-shrink: 0;
            
            .patches{
                display: flex;
                flex-direction: column;
                .item{
                    display: flex;
                    align-content: center;
                    align-items: center;
                    padding: 0 8px;
                    width: calc(100% - 16px);
                    height: 30px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                    color: #b3b3b3;
                    background: rgba(255, 255, 255, 0.01);
                    user-select: none;
                    cursor: pointer;
                    position: relative;
                    transition: padding 100ms;

                    &:nth-child(2n){
                        background: rgba(255, 255, 255, 0.041);
                    }

                    &:hover{
                        background: rgba(255, 255, 255, 0.1);
                    }

                    &::before{
                        position: absolute;
                        top: 0;
                        left: 0;
                        content: "";
                        width: 0px;
                        height: 100%;
                        background-color: rgb(118, 127, 255);
                        transition: width 100ms;
                    }

                    &.selected{
                        background: rgba(138, 146, 255, 0.1);
                        padding-left: 12px;
                        width: calc(100% - 20px);
                        &::before{
                            width: 2px;
                        }
                    }
                }
            }

            .settings{
                height: 50%;
            }
        
        }

        .right{
            width: 100%;
            height: 100%;

            font-size: 10px;
            position: relative;

            .placedFixtures{
                .patchRef{
                    background: rgba(100, 69, 29, 0.8);
                    z-index: 10;
                    cursor: pointer;

                    .address{
                        opacity: 0.7;

                        &.end{ float: right }
                    }
                }
            }

            .patchRefPlace{
                position: absolute;
                height: calc(100% / 16);
                width: calc(100% / 32);
                z-index: 10;
            }
            
            .patchRef{
                position: absolute;
                height: calc(100% / 16);
                z-index: 0;
                background: rgba(255, 145, 0, 0.171);
                &.invalid{
                    background: rgba(255, 0, 0, 0.171);
                    border: 2px solid #aa2323;
                }
            }

            table{
                width: 100%;
                height: 100%;
                border-spacing: 0;
                position: relative;
            }
            tr{
                width: 100%;
                height: 100% / 16;
                display: block;
                td{
                    padding: 0;
                    margin: 0;
                    height: 100%;
                    width: 100% / 32;
                    color: rgba(255, 255, 255, 0.534);
                    user-select: none;
                    text-align: center;
                    display: inline-flex;
                    align-content: center;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

input{
    background: linear-gradient(180deg, rgb(0, 9, 26), #040813);
    border: 0;
    height: 20px;
    outline: none;
    color: #ffffff9c;
    font-weight: 700;
    padding: 4px 16px;
}