

<div class="container">
    <div class="header">
        <span class="title">add fixture</span>
        <div class="action close" (click)="close()">
          <i class="material-icons">close</i>
        </div>
    </div>    

    <div class="side">
      <div class="left">
        <div class="patches">
          <input type="text" placeholder="Suchen" (input)="filter($event.target.value)">
          <div *ngFor="let p of this.displayedPatches" class="item" [class.selected]="p == this.selectedPatch" (click)="select(p)">{{p.name}} {{p.channels}}ch</div>
        </div>
        <div class="settings">

        </div>
      </div>
      <div class="right">
        <div class="patchRefPlace"
          *ngIf="this.selectedPatch"
          [style.top]="(100 / 16 * hoverY) + '%'"
          [style.left]="(100 / 32 * hoverX) + '%'"
          (click)="refPlace($event)">

        </div>
        <div class="patchRef" 
          *ngIf="this.selectedPatch"
          [style.top]="(100 / 16 * hoverY) + '%'"
          [style.left]="(100 / 32 * hoverX) + '%'"
          [style.width]="patchRefWidth(this.selectedPatch, this.hoverX)"
          [class.invalid]="invalid(hoverX, hoverY, this.selectedPatch)">
        </div>
        <div class="patchRef overhang" 
          *ngIf="this.selectedPatch && this.selectedPatch.channels > 32 - this.hoverX"
          [style.top]="(100 / 16 * (hoverY + 1)) + '%'"
          [style.left]="0"
          [style.width]="patchRefOverhangWidth(this.selectedPatch, this.hoverX)"
          [class.invalid]="invalid(hoverX, hoverY, this.selectedPatch)">
        </div>
        <table #gridRef>
          <tr *ngFor="let y of this.grid; let yI = index">
            <td *ngFor="let x of y; let xI = index" (mouseenter)="gridHover(xI, yI)">{{(yI * 32) + xI + 1}}</td>
          </tr>
        </table>

        <div class="placedFixtures">

          <div class="patchRef" 
            *ngFor="let f of this.placedFixtures"
            [style.top]="(100 / 16 * f.y) + '%'"
            [style.left]="(100 / 32 * f.x) + '%'"
            [style.width]="patchRefWidth(f.fixture.patch, f.x)">
            <span class="address start">{{f.y * 32 + f.x + 1}}</span>
            
            <span *ngIf="f.fixture.patch.channels > 1 && f.fixture.patch.channels <= 32 - f.x" class="address end">{{f.y * 32 + f.x + f.fixture.patch.channels}}</span>
          </div>
          <div class="patchRef overhang" 
            *ngFor="let f of this.placedFixtures"
            [style.top]="(100 / 16 * (f.y + 1)) + '%'"
            [style.left]="0"
            [style.width]="patchRefOverhangWidth(f.fixture.patch, f.x)">
            <span *ngIf="f.fixture.patch.channels > 1 && f.fixture.patch.channels > 32 - f.x" class="address end">{{f.y * 32 + f.x + f.fixture.patch.channels}}</span>
          </div>

        </div>
      </div>
    </div>
</div>