/* You can add global styles to this file, and also import other style files */
body {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  min-height: 100vh;
  font-family: "Roboto";
  color: #ffffff;
}
.header {
  display: flex;
  align-content: center;
  align-items: center;
  position: relative;
  width: calc(60%);
  height: 35px;
  padding: 0 20px;
  background: linear-gradient(180deg, #000F2E, #091229);
}
.header .title {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
  margin-right: 20px;
}
.header .action {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 10px;
  cursor: pointer;
}
.header .action i {
  font-size: 20px;
}
.header .action:hover {
  background: rgba(255, 255, 255, 0.1);
}
.header .action .title {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  margin-left: 4px;
  color: #FFFFFF;
  opacity: 0.5;
  text-transform: capitalize;
}
.center-flex {
  display: flex;
  align-content: center;
  align-items: center;
}
.panelBg {
  background: linear-gradient(180deg, #2F303B, #141414);
}
.windowBg {
  background: #18181b;
}
:host {
  display: block;
  background: linear-gradient(180deg, #2F303B, #141414);
}
.header .action.add {
  color: #369833;
}
.fixtures {
  padding: 40px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.fixtures .fixture {
  display: flex;
  flex-direction: column;
  width: 90px;
  height: 90px;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  margin: 0 5px;
}
.fixtures .fixture .label {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 19px;
  font-weight: 500;
  opacity: 0.5;
  text-align: center;
}
.fixtures .fixture .DIM {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px;
  font-weight: 900;
  opacity: 0.8;
  color: #F21A30;
}
.fixtures .fixture .COLOR {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}
.fixtures .fixture .COLOR .colorDisplay {
  width: 40px;
  height: 40px;
  background: #000;
}
.fixtures .fixture .COLOR .colorDisplay .color {
  margin: 5%;
  width: 90%;
  height: 90%;
  border-radius: 100%;
}
.fixtures .fixture.selected {
  background: rgba(250, 255, 0, 0.2);
}
