@import "../../../styles.less";

:host{
    display: block;
    .panelBg;
}

.header{
    .action.add{
        color: #369833;
    }
}

.fixtures{
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    .fixture{
        display: flex;
        flex-direction: column;
        width: 90px;
        height: 90px;
        background: rgba(255, 255, 255, 0.10);
        position: relative;
        margin: 0 5px;

        .label{
            display: block;
            width: 100%;
            height: 40px;
            // position: absolute;
            // bottom: 6px;
            // left: 0;
            font-size: 19px;
            font-weight: 500;
            opacity: 0.5;
            text-align: center;
        }

        .DIM{
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            height: 100%;

            font-size: 24px;
            font-weight: 900;
            opacity: 0.8;

            color: #F21A30;
        }

        .COLOR{
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            height: 100%;

            .colorDisplay{
                width: 40px;
                height: 40px;
                background: #000;
                             
                .color{
                    margin: 5%;
                    width: 90%;
                    height: 90%;
                    border-radius: 100%;
                }
            }
        }

        &.selected{
            background:rgba(250, 255, 0, 0.2)
        }
    }
}