<div class="header">
    <span class="title">fixtures</span>
    <div class="action add" (click)="addFixture()">
        <i class="material-icons">add</i>
        <span class="title">Add</span>
    </div>
</div>

<div class="fixtures">
    <div class="fixture" *ngFor="let f of this.fixtures" (click)="toggleFixtureSelect(f)" [class.selected]="selectedFixtures.get(f.id)">

        <div *ngIf="f.patch.type == 'dim'" class="DIM">
            <span class="DIM-perc">{{f.values[1] / 255 | percent}}</span>
        </div>
        <div *ngIf="f.patch.type == 'color'" class="COLOR">
            <div class="colorDisplay"><div class="color" [style.background-color]="f.getControll('Color Picker').getColor().hex()"></div></div>
            <span class="DIM-perc">{{f.values[1] / 255 | percent}}</span>
        </div>
        <span class="label">{{f.patch.name}}</span>
    </div>
</div>