.wrapper {
  width: 100px;
  height: 300px;
  display: inline-block;
}
.slider {
  -webkit-appearance: none;
  background: transparent;
  height: 100px;
  width: 300px;
  transform: rotate(90deg);
  transform-origin: 50px 50px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 30px;
  width: 40px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -7px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* Add cool effects to your sliders! */
}
.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
.slider:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
