<div class="header">
    <span class="title">Controlls</span>
</div>

<div class="controlls">
    <div class="fixture" *ngFor="let f of selectedFixtures">
        <slider-controll *ngFor="let c of f.controlls" [fixture]="f" [controll]="c"></slider-controll>
    </div>
</div>