/* You can add global styles to this file, and also import other style files */
body {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  min-height: 100vh;
  font-family: "Roboto";
  color: #ffffff;
}
.header {
  display: flex;
  align-content: center;
  align-items: center;
  width: calc(60%);
  height: 35px;
  padding: 0 20px;
  background: linear-gradient(180deg, #000F2E, #091229);
}
.header .title {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.5;
}
.center-flex {
  display: flex;
  align-content: center;
  align-items: center;
}
.panelBg {
  background: linear-gradient(180deg, #2F303B, #141414);
}
:host {
  background: linear-gradient(180deg, #2F303B, #141414);
  width: 100%;
  height: 100%;
}
