/* You can add global styles to this file, and also import other style files */
body{
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  min-height: 100vh;

  user-select: none;

  font-family: "Roboto";
  color: #ffffff;
}

.header{
  .center-flex;
  position: relative;
  width: calc(100% - 40px);
  height: 35px;
  padding: 0 20px;
  background: linear-gradient(180deg, #000F2E, #091229);

  .title{
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      opacity: 0.5;
      margin-right: 20px;
  }

  .action{
    position: relative;
    .center-flex;
    justify-content: center;
    height: 100%;
    padding: 0 10px;
    i{ font-size: 20px }

    &:hover{
      background: rgba(255, 255, 255, 0.1)
    }
    cursor: pointer;

    .title{
      font-weight: 400;
      font-size: 14px;
      margin: 0;
      margin-left: 4px;
      color: #FFFFFF;
      opacity: 0.5;
      text-transform: capitalize;
    }
  }
}


.center-flex{
  display: flex;
  align-content: center;
  align-items: center;
}

.panelBg{
  background: linear-gradient(180deg, #2F303B, #141414)
}

.windowBg{
  background: #18181b
}