<div class="top-bar">
    <span class="appName">KArtO</span>
    <span class="tool">Datei</span>
</div>
<div #panelHost class="panelHost">
    <app-fixture-panel></app-fixture-panel>
    <div class="side">
        <app-controlls-panel></app-controlls-panel>
    </div>
</div>

<app-add-fixture [class.hidden]="!isAddingFixture"></app-add-fixture>