:host{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    flex-direction: column;
}

.top-bar{
    display: flex;
    padding: 0 20px;
    width: calc(100% - 40px);
    height: 40px;
    align-content: center;
    align-items: center;

    flex-shrink: 0;

    background: #07102D;

    .appName{
        font-size: 15px;
        font-weight: 500;
        margin-right: 50px;
    }

    .tool{
        font-size: 13px;
        opacity: 0.5;
    }
}


.panelHost{
    display: flex;
    height: calc(100vh - 40px);
    flex-direction: column;
}

.side{
    display: flex;
    height: 100%;

    .vertical{
        flex-direction: column;
    }
}


.hidden{
    display: none;
}