:host {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  flex-direction: column;
}
.top-bar {
  display: flex;
  padding: 0 20px;
  width: calc(60%);
  height: 40px;
  align-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #07102D;
}
.top-bar .appName {
  font-size: 15px;
  font-weight: 500;
  margin-right: 50px;
}
.top-bar .tool {
  font-size: 13px;
  opacity: 0.5;
}
.panelHost {
  display: flex;
  height: calc(60vh);
  flex-direction: column;
}
.side {
  display: flex;
  height: 100%;
}
.side .vertical {
  flex-direction: column;
}
.hidden {
  display: none;
}
